body{
    display: flex;
    background-color: rgb(83, 55, 94);
    align-items: center;
    justify-content: center;  
    height: 50vh;
    padding: 10px;  
    
}
.container{  
align-items: center;
justify-content: center;
display: flex;
flex-wrap: wrap;
width: 450px; /*adjust as needed */    
}

.grid-item {
    flex: 1 0 calc(7.25% - 2px);
    height: 0;
    padding-bottom: calc(7.25% - 2px);
    margin: 1px;
    background-color: rgb(238, 236, 134);
    border: 3px solid rgb(175, 196, 57);

}

.grid-item:hover{
    background-color: rgb(182, 136, 201);
}

#newGridButton {
    background-color: #cc6cdf;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px;
    cursor:pointer;
    border-radius: 10px;
    transition: background-color 0.3s;
}

#newGridButton:hover {
    background-color: #cc5fe2;
}